*{
    margin: 0;
}

.container{
    width: 500px;
    margin-right: auto;
    margin-left: auto;
}

.block{
    display: block;
}

.mt-2{
    margin-top: 20px;
}

input[type='text'], input[type='password']{
    height: 30px;
    width: 300px;
}

.error{
    background-color: red;
    color: black;
    padding: 10px; 
}

.success{
    background-color: lightgreen;
    color: black;
    padding: 10px; 
}